@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
}

.bg-white {
    background-color: white;
}

.text-dark-green{
    color: #3b7746;
}