body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#login-form{
  margin-left: 20px;
}

.small-text{
  font-size: 13px;
  color: grey;
}

a{
  color: grey;
}

.Login, .Signup, .Forgot{
  background-image: url("/public/login_background.jpg");
  height: 100vh;
}

.Signup .MuiInput-root{
  margin-bottom: 20px;
}

.Signup .MuiButton-root{
  /*margin-top: 20px;*/
  margin-bottom: 20px;
}


.Forgot .MuiButton-root{
  margin-top: 20px;
  margin-bottom: 20px;
}

.top-bar{
  position: fixed;
  width: 100%;
  color: white;
  background-color: #0a8738;
  margin: 0 0;
}

.App{
  margin: 0 0;
}

.top-bar h1{
  font-size: 20pt;
  margin-top: 0px;
}

